@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* start: Globals */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--slate-700);
}
/* end: Globals */

/* start: Chat */
.chat-section {
  box-shadow: inset 0 160px 0 0 var(--emerald-500);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slate-100);
}
.chat-container {
  max-width: 1360px;
  width: 100%;
  height: 720px;
  box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  position: relative;
}
/* end: Chat */

/* start: Sidebar */
.chat-sidebar {
  width: 64px;
  background-color: var(--slate-100);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}
.chat-sidebar-logo {
  font-size: 28px;
  color: var(--emerald-600);
  display: block;
  text-align: center;
  padding: 12px 8px;
  text-decoration: none;
}
.chat-sidebar-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 0;
}
.chat-sidebar-menu > * > a {
  display: block;
  text-align: center;
  padding: 12px 8px;
  font-size: 24px;
  text-decoration: none;
  color: var(--slate-400);
  position: relative;
  transition: color 0.15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover {
  color: var(--slate-600);
}
.chat-sidebar-menu > .active > a {
  box-shadow: inset 4px 0 0 0 var(--emerald-500);
  color: var(--emerald-600);
  background-color: var(--emerald-100);
}
.chat-sidebar-menu > * > a::before {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: calc(100% - 16px);
  border-radius: 4px;
  transform: translateY(-50%);
  font-size: 13px;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before {
  left: calc(100% - 8px);
  opacity: 1;
  visibility: visible;
}
.chat-sidebar-profile {
  margin-top: auto;
  position: relative;
}
.chat-sidebar-profile-toggle {
  background-color: transparent;
  border: none;
  outline: transparent;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.chat-sidebar-profile-toggle > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
  position: absolute;
  bottom: 100%;
  left: 16px;
  background-color: var(--white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  border-radius: 4px;
  padding: 4px 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transform-origin: left bottom;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
/* end: Sidebar */

/* start: Content side */
.mobile-content-sidebar-header {
  display: none;
  background: linear-gradient(to bottom, #d1fae5, #ffffff);
}
.mobile-content-sidebar-header > .conversation-top {
  background: unset;
  padding: 16px;
}
.mobile-content-sidebar-header .conversation-buttons button {
  background-color: unset;
}
.chat-content {
  padding-left: 64px;
  height: 100%;
  position: relative;
}
.content-sidebar {
  width: 256px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: 64px;
}
.content-sidebar-title {
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
}
.content-sidebar-form {
  position: relative;
  padding: 0 16px;
}
.content-sidebar-input {
  padding: 8px 16px;
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding-right: 32px;
  font-size: 14px;
}
.content-sidebar-input:focus {
  border-color: var(--slate-400);
}
.content-sidebar-submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  color: var(--slate-400);
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
.content-sidebar-submit:hover {
  color: var(--slate-600);
}
.content-sidebar-submit.content-sidebar-loader {
  animation: spinner 1s infinite linear;
  font-size: 27px;
  color: green;
  top: 7%;
  right: 26px;
}
.content-messages {
  overflow-y: auto;
  height: 100%;
  margin-top: 16px;
}
.content-messages-list {
  list-style-type: none;
  padding: 8px 0;
}
.content-messages-list > * > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--slate-700);
  padding: 6px 16px;
}
.content-messages-list > * > a:hover {
  background-color: var(--slate-50);
}
.content-messages-list > .active > a {
  background-color: var(--slate-100);
}
.content-message-title {
  margin-left: 16px;
  margin-right: 16px;
  color: var(--slate-400);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  position: relative;
}
.content-message-title > * {
  position: relative;
  z-index: 1;
  padding: 0 4px 0 0;
  background-color: var(--white);
}
.content-message-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--slate-300);
  z-index: 0;
}
.content-message-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 12px;
}
.content-message-info {
  display: grid;
  margin-right: 12px;
  width: 100%;
}
.content-message-name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}
.content-message-text {
  font-size: 13px;
  color: var(--slate-400);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-message-info > span.emoji-wrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.content-message-info > span.emoji-wrapper > span.emoji {
  display: inline-block;
  width: 20px;
  height: 1140px;
  background-image: url(https://static-asm.secure.skypeassets.com/pes/v1/emoticons/hi/views/default_40_anim_f?etag=v30&quot;);
  background-size: 20px 1140px;
  will-change: transform;
  transform: translate3d(0px, -1140px, 0px);
  transform-origin: left top;
  animation: 2.375s steps(57) 0s infinite normal none running
    SpriteComponentAnimation;
  backface-visibility: hidden;
}
.content-message-more {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.content-message-unread {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--emerald-500);
  padding: 2px 4px;
  border-radius: 4px;
}
.content-message-time {
  font-size: 12px;
  color: var(--slate-400);
  font-weight: 500;
}
/* abc */
.sidebar-user-profile {
  width: 330px;
}
.sidebar-user-profile .profile-header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.sidebar-user-profile .profile-header i.ri-chat-1-fill {
  color: var(--emerald-600);
  font-size: 22px;
}
.sidebar-user-profile .profile-header .btn-close {
  margin-left: auto;
  cursor: pointer;
  font-size: 22px;
}
.sidebar-user-profile .profile-body ul {
  list-style: none;
}
.sidebar-user-profile .profile-body ul.user-details {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0 20px;
  align-items: center;
}
.sidebar-user-profile .profile-body ul.user-details li:first-child > button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  background: #c8b5db;
  cursor: pointer;
  position: relative;
  background-size: cover;
}
.sidebar-user-profile
  .profile-body
  ul.user-details
  li:first-child
  > button
  i.ri-camera-line {
  color: #7f00ff;
}
.sidebar-user-profile .profile-body div.icon-edit {
  position: absolute;
  background: #e1e1e2;
  padding: 0px 2px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}
.sidebar-user-profile .profile-body div.icon-edit i {
  font-size: 16px;
}
.sidebar-user-profile
  .profile-body
  ul.user-details
  li:first-child
  > button
  span.water-loader {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
  display: inline-block;
  /* position: relative; */
}

.sidebar-user-profile
  .profile-body
  ul.user-details
  li:first-child
  > button
  span.water-loader::after,
.sidebar-user-profile
  .profile-body
  ul.user-details
  li:first-child
  > button
  span.water-loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #7f00ff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.sidebar-user-profile
  .profile-body
  ul.user-details
  li:first-child
  > button
  span.water-loader::after {
  animation-delay: 1s;
}

.sidebar-user-profile .profile-body ul.user-details li:nth-child(1) {
  margin-right: 20px;
}
.sidebar-user-profile .profile-body ul.user-details li:nth-child(2) {
  width: 187px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px 0;
}
.sidebar-user-profile .profile-body .user-details .n {
  font-size: 16px;
  font-weight: 800;
}
.sidebar-user-profile .profile-body .user-details .e {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-user-profile .profile-body .user-details .sh {
  font-size: 12px;
  color: #0c83ce;
}
.sidebar-user-profile .btn-profile-share {
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-user-profile ul.availability-status {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 50px; */
  margin: 0 10px;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.sidebar-user-profile ul.availability-status li.status-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.sidebar-user-profile ul.availability-status li.status-item > span.icon {
  height: 13px;
  display: inline-block;
  width: 13px;
  border-radius: 50%;
  margin-top: 5px;
}
li.status-item > span.icon.status-1 {
  background: #21cf96;
}
li.status-item > span.icon.status-2 {
  background: #ffc200;
}
li.status-item > span.icon.status-3 {
  background: #ff6c6c;
}
li.status-item > span.icon.status-4 {
  background: var(--slate-300);
}
.sidebar-user-profile ul.availability-status li.status-item span.text {
  font-size: 14px;
}
.sidebar-user-profile ul.availability-status li.status-item span.checkmark {
  position: absolute;
  right: 0;
}
.sidebar-user-profile ul.availability-status li.status-item span.status-loader {
  animation: spinner 1s infinite linear;
  color: green;
}
/* .sidebar-user-profile
  ul.availability-status
  li.status-item
  span.checkmark.visible {
  display: block;
} */
.sidebar-user-profile ul.share-and-invite {
  margin: 0 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar-user-profile ul.share-and-invite .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-user-profile ul.share-and-invite .share div:first-child,
.sidebar-user-profile ul.share-and-invite .invite {
  display: flex;
  align-items: center;
  gap: 17px;
}
.sidebar-user-profile ul.share-and-invite .share .text {
  font-size: 14px;
  color: #8592ab;
}
.sidebar-user-profile ul.share-and-invite .share .ri-pencil-line {
  cursor: pointer;
}
.sidebar-user-profile ul.share-and-invite .invite .text {
  font-size: 14px;
  font-weight: 800;
}
.profile-section .profile-section-header {
  padding: 0px 20px;
  text-transform: uppercase;
  background-color: #f0f4f8;
  color: #6e6e6e;
  min-height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.profile-section .profile-section-items {
  padding: 0 10px;
}
.profile-section .profile-section-items .profile-section-item {
  display: flex;
  align-items: center;
  gap: 17px;
  min-height: 60px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}
.profile-section .profile-section-items .profile-section-item:last-child {
  border: none;
}
.profile-section-item .icon {
  margin-left: 20px;
}
.profile-section-item .text {
  font-size: 14px;
}

/* end: Content side */

/* start: Conversation */
.conversation {
  background-color: var(--slate-100);
  height: 100%;
  padding-left: 256px;
  display: none;
}
.conversation.active {
  display: flex;
  flex-direction: column;
}
.conversation-top {
  padding: 8px 16px;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.conversation-back {
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  color: var(--slate-400);
  margin-right: 12px;
  display: none;
}
.conversation-back:hover {
  background-color: var(--slate-100);
  border-radius: 50%;
  color: var(--slate-600);
}
.conversation-back:active {
  background-color: var(--slate-200);
}
.conversation-user {
  display: flex;
  align-items: center;
}
.conversation-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.conversation-user-image.image-text {
  background: #dfcaf4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #8a2be2;
}
.conversation-user-name {
  font-weight: 500;
  font-size: 17px;
}
.conversation-user-status {
  color: var(--slate-400);
  font-size: 13px;
}
.conversation-user-status::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--slate-300);
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
}
.conversation-user-status.online::before {
  background-color: var(--emerald-500);
}
.conversation-user-status.away::before {
  background-color: #ffc200;
}
.conversation-user-status.do-not-disturb::before {
  background-color: #ff6c6c;
}
.conversation-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.conversation-buttons > * {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  color: var(--slate-600);
  margin-left: 4px;
}
.conversation-buttons > :hover {
  background-color: var(--slate-100);
  color: var(--slate-700);
}
.conversation-buttons > :active {
  background-color: var(--slate-200);
}

.conversation-main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 16px;
}
.conversation-wrapper {
  list-style-type: none;
}
.conversation-wrapper.invitation-window .welcome-emoji {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
}
.conversation-wrapper.conversation-wrapper.invitation-window
  .welcome-emoji.welcome-emoji-left {
  justify-content: flex-start;
}
.conversation-wrapper.invitation-window .welcome-emoji > span {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.conversation-wrapper.invitation-window .welcome-emoji > span > span {
  display: inline-block;
  width: 80px;
  height: 4560px;
  background-image: url(https://static-asm.secure.skypeassets.com/pes/v1/emoticons/hi/views/default_160_anim_f?etag=v30&quot;);
  background-size: 80px 4560px;
  will-change: transform;
  transform: translate3d(0px, -4560px, 0px);
  transform-origin: left top;
  animation: 2.375s steps(57) 0s infinite normal none running
    SpriteComponentAnimation;
  backface-visibility: hidden;
}
.invitation-status {
  padding: 15px;
  background: linear-gradient(to bottom, #ffffff, #f1f5f9);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
}
.invitation-status .smiley {
  font-size: 30px;
}
.invitation-status .invitation-text {
  margin: 15px 0;
  text-align: center;
}
.invitation-status .invitation-actions {
  display: flex;
  gap: 5px;
}
.invitation-status .invitation-action {
  background: linear-gradient(to bottom, #d1fae5, #f1f5f9);
  border: #94a3b8;
  color: #059669;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}
.conversation-item {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 16px;
}
.conversation-item.conversation-item-left {
  flex-direction: row;
}
.conversation-item-side {
  margin-left: 8px;
}
.conversation-item.conversation-item-left .conversation-item-side {
  margin-right: 8px;
}
.conversation-item-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.conversation-item-content {
  width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
  margin-bottom: 8px;
}
.conversation-item-box {
  max-width: 720px;
  position: relative;
  margin-left: auto;
}
.conversation-item.conversation-item-left .conversation-item-box {
  margin-left: unset;
}
.conversation-item-text {
  padding: 12px 16px 8px;
  background-color: var(--white);
  box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  margin-left: 32px;
}
.conversation-item.conversation-item-left .conversation-item-text {
  margin-left: unset;
  margin-right: 32px;
}
.conversation-item.conversation-item-left .conversation-item-text {
  background-color: var(--emerald-500);
  box-shadow: 0 2px 12px -2px var(--emerald-500);
  color: rgba(255, 255, 255, 0.8);
}
.conversation-item-time {
  font-size: 10px;
  color: var(--slate-400);
  display: block;
  text-align: right;
  margin-top: 4px;
  line-height: 1;
}
.conversation-item.conversation-item-left .conversation-item-time {
  color: rgba(255, 255, 255, 0.7);
}
.conversation-item-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}
.conversation-item.conversation-item-left .conversation-item-dropdown {
  left: unset;
  right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
  opacity: 1;
  visibility: visible;
}
.conversation-item-dropdown-toggle {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white);
  outline: transparent;
  border: 1px solid var(--slate-200);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
  background-color: var(--emerald-500);
  color: var(--white);
  box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-toggle:active {
  background-color: var(--emerald-600);
}
.conversation-item-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 0;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transform-origin: left top;
  transition: all 0.15s ease-in-out;
}
.conversation-item.conversation-item-left .conversation-item-dropdown-list {
  left: unset;
  right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.conversation-item-dropdown-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--slate-400);
  font-size: 13px;
  padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
  background-color: var(--slate-100);
  color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
  background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
  font-size: 16px;
  margin-right: 8px;
}
.conversation-divider {
  text-align: center;
  font-size: 13px;
  color: var(--slate-400);
  margin-bottom: 16px;
  position: relative;
}
.conversation-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--slate-300);
}
.conversation-divider span {
  display: inline-block;
  padding: 0 8px;
  background-color: var(--slate-100);
  position: relative;
  z-index: 1;
}

.conversation-form {
  padding: 8px 16px;
  background-color: var(--white);
  display: flex;
  align-items: flex-end;
}
.conversation-form-group {
  width: 100%;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}
.conversation-form-input {
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  border-radius: 4px;
  outline: transparent;
  padding: 10px 32px 10px 16px;
  font: inherit;
  font-size: 14px;
  resize: none;
  width: 100%;
  display: block;
  line-height: 1.5;
  max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
  border-color: var(--slate-400);
}
.conversation-form-record {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
  color: var(--slate-400);
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}
.conversation-form-record:hover {
  color: var(--slate-600);
}
.conversation-form-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline: transparent;
  font-size: 20px;
  color: var(--slate-400);
  cursor: pointer;
  flex-shrink: 0;
}
.conversation-form-button:hover {
  background-color: var(--slate-100);
  color: var(--slate-600);
}
.conversation-form-button:active {
  background-color: var(--slate-200);
  color: var(--slate-600);
}
.conversation-form-submit {
  background-color: var(--emerald-500);
  box-shadow: 0 2px 8px -2px var(--emerald-500);
  color: var(--white);
}
.conversation-form-submit:hover {
  background-color: var(--emerald-600);
  color: var(--white);
}
.conversation-form-submit:active {
  background-color: var(--emerald-700);
  color: var(--white);
}
.conversation-form-text {
  padding-left: 50px;
  font-size: 14px;
  color: var(--slate-400);
  padding-bottom: 50px;
}
.conversation-default {
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-left: calc(256px + 16px);
  color: var(--slate-400);
}
.conversation-default i {
  font-size: 32px;
}
.conversation-default p {
  margin-top: 16px;
}
.mobile-welcome {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--slate-400);
  height: 100%;
}
/* end: Conversation */

/* start: Breakpoints */
@media screen and (max-width: 1600px) {
  .chat-container {
    max-width: unset;
    height: 100vh;
  }
}

@media screen and (max-width: 767px) {
  .chat-sidebar {
    top: unset;
    bottom: 0;
    width: 100%;
    height: 48px;
    position: fixed;
  }
  .chat-sidebar-logo {
    display: none;
  }
  .chat-sidebar-menu {
    flex-direction: row;
    padding: 0;
  }
  .chat-sidebar-menu > *,
  .chat-sidebar-menu > * > a {
    width: 100%;
    height: 100%;
  }
  .chat-sidebar-menu > * > a {
    padding: 8px;
  }
  .chat-sidebar-menu > .active > a {
    box-shadow: inset 0 4px 0 0 var(--emerald-500);
  }
  .chat-sidebar-profile {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .chat-sidebar-profile-toggle {
    width: 32px;
    height: 32px;
  }
  .chat-sidebar-profile-dropdown {
    left: unset;
    right: 16px;
  }

  .conversation,
  .chat-content {
    padding-left: unset;
  }
  .content-sidebar {
    left: unset;
    z-index: 10;
    width: 100%;
  }
  .chat-sidebar-menu > * > a::before {
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    top: unset;
  }
  .chat-sidebar-menu > * > a:hover::before {
    bottom: calc(100% + 8px);
    left: 50%;
  }

  .chat-content {
    position: relative;
    height: calc(100% - 48px);
  }
  .conversation.active {
    position: relative;
    z-index: 20;
  }
  .conversation-back {
    display: flex;
  }
  .conversation-default.active {
    display: none;
    padding: 16px;
  }
  .conversation.active .conversation-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .conversation.active .conversation-main {
    margin-top: 56px;
    margin-bottom: 58px;
  }
  .conversation.active .conversation-form {
    position: fixed;
    bottom: 48px;
    width: 100%;
  }
  .content-messages {
    /* margin-top: unset; */
    margin-top: 120px;
  }
  .mobile-content-sidebar-header {
    display: block;
    position: fixed;
    width: 100%;
  }
  .desktop-content-sidebar-header {
    display: none;
  }
  .mobile-welcome {
    display: flex;
  }
}
/* end: Breakpoints */

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
}

.loader.visible {
  display: block;
}

.hidden {
  display: none !important;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.chat-bubble {
  background-color: #bff5e0;
  padding: 8px 16px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6cad96; /* rgba(20,105,69,.7); */
  border-radius: 50%;
  height: 6px;
  margin-right: 4px;
  vertical-align: middle;
  width: 6px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

#modal {
  /* width: 30%; */
  /* background: #d3b17b; */
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
  position: absolute;
  margin: auto;
}
/* #modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
} */
#modal h2 {
  font-size: 1.5rem;
  color: #4f3807;
  text-transform: uppercase;
  margin: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6cad96; /* rgba(20,105,69,.7); */
  }
  28% {
    transform: translateY(-5px);
    background-color: #9ecab9; /*rgba(20,105,69,.4);*/
  }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb; /*rgba(20,105,69,.2);*/
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes SpriteComponentAnimation {
  0% {
    transform: translateZ(0);
  }
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
